:root{
    --bg: #F2F1EB;
    --accent: #000;
    --accent1: #fff;
    --width:1600px;
}

@font-face {
    font-family: 'Garet';
    src: url(Fonts/garet/Garet-Book.otf) format('truetype');
}

@font-face {
    font-family: Garet1;
    src: url(Fonts/garet/Garet-Heavy.woff2) format('truetype');
}

body{
    background-color: var(--bg);
    display: flex;
    justify-content: center;
}

#content{
    max-width: var(--width);
}
/* ------------------==== pins ====---------------------- */
.pin{
    position: absolute;
    transition: scale 0.5s;
}

.pin:hover{
    scale:1.05;
}

#flower{
    height:120px;
    width:120px;
    z-index: 99;
    padding-top: 300px;
    padding-left: 250px;
}
/* ------------------------------------------------------- */

.header{
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
}

.header h1{
    font-family: Garet;
    font-size: 90px;
    font-weight: 950;
    margin: 0 0;
}

.socials{
    display:flex;
    height:50px;
    gap: 10px;
}

.socials img{
    height:50px;
    width:50px;
}

.polaroid-container{
    display:flex;
}

.polaroid{
    background-color: var(--bg);
    border-top: 1px solid var(--accent1);
    border-left: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    border-right: 1px solid var(--accent1);
    width:336px;
    height:390px;
    display:flex;
    flex-direction:column;
    transition: all 0.5s;
}

.polaroid:hover{
    scale:1.05;
}

.polaroid img{
    margin:18px;

}

.pic{
    width: calc(100% - 36px);
    background-size: cover;
    margin: 18px;
    border-bottom: 1px solid var(--accent1);
    border-right: 1px solid var(--accent);
    border-top: 1px solid var(--accent);
    border-left: 1px solid var(--accent1);
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#polaroid1{
    transform:rotate(-6.5deg);
    z-index: 1;
}

#polaroid2{
    transform: rotate(3.5deg) translate(0px, -30px);
    z-index: 2;
}

#polaroid3{
    transform:rotate(-3.5deg);
    z-index: 1;
}

#p1{
    background-image: url(Assets/Images/LTK.png);

}

#p2{
    background-image: url(Assets/Images/YOUTUBE.png);

}

#p3{
    background-image: url(Assets/Images/AMZ.png);
}


#polaroid4{
    transform: rotate(12deg)translate(-20px, -40px);
    z-index: 0;
}

.middle-text{
    color: white;
    padding-top: 50px;
}

.middle-text h2{
    font-family: 'Garet1';
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    margin: 0;
    line-height: 1;
    text-shadow: rgba(0, 0, 0, 0.325) 0px 2.19999px 9.34996px;
}

.middle-text p{
    font-family: 'Garet';
    font-size: 30px;
    text-align: center;
    margin: 5px 0 !important;
    line-height: 1;
    text-shadow: rgba(0, 0, 0, 0.325) 0px 2.19999px 9.34996px;
}

.test{
    height:500px;
    width:500px;
    border: 3px solid black;
    display: grid;
}

.test p{
    margin:0;
    position: absolute;
    align-self: center;
    justify-self: center;
}