:root{
    --bg: #F2F1EB;
    --accent: #000;
    --accent1: #fff;
    --width:1600px;
    --thumbnail:620px;
    --h1: 90px;
    --lj: 80px;
    --h2: 60px;
    --p: 24px;

}

@font-face {
    font-family: Garet;
    src: url(Fonts/garet/Garet-Book.otf) format('truetype');
}

@font-face {
    font-family: LeJour;
    src: url(Fonts/lejour/Le\ Jour\ Script.ttf) format('truetype');
}

@font-face {
    font-family: OpenSauce;
    src: url(Fonts/opensauce/TTF/OpenSauceSans-Light.ttf) format('truetype');
}

@font-face {
    font-family: OpenSauceBold;
    src: url(Fonts/opensauce/TTF/OpenSauceSans-Bold.ttf) format('truetype');
}

.lj{
    font-family: LeJour;
    transform: translateY(20px);
    font-weight: 100;
    font-size: var(--lj);
}

h1{
    font-family: Garet;
    font-size: var(--h1);
    font-weight: 950;
    margin: 0 0;
    line-height: 1;
}

h2{
    position:absolute;
    justify-self: center;
    align-self: center;
    font-family: 'GARET';
    font-size: var(--h2);
    text-shadow: rgba(0, 0, 0, 0.325) 0px 2.19999px 9.34996px;
    color: white;
}

p{
    font-family: OpenSauce;
    font-size: var(--p);
    font-weight: 100;
    line-height: 1.3;
    margin: 0 20px 0 10px;
}

b{
    font-size: var(--p);
    font-family: OpenSauceBold;
    font-weight: 900;
    margin: 0 10px;
    margin-top:20px;
    margin-bottom:5px;
}

body{
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
    flex-direction: column;
    align-items: center;
    }

#content{
    max-width: var(--width);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    overflow: hidden;
}
/* ------------------==== pins ====---------------------- */

.pin-before{
    opacity:0;
    scale:0.5;
}

.pin,
.fixed{
    position: absolute;
    transition: scale 0.5s;
}

.pin:hover{
    scale:1.05;
}

#flower{
    height:120px;
    width:120px;
    z-index: 99;
    padding-top: 300px;
    margin-right: 550px;
    position: absolute;
}

#heart{
    height:120px;
    width:120px;
    z-index: 2;
    margin-left: 70px;
    /* margin-top: 50px; */
    transform: rotate(15deg);
}

#note{
    height:400px;
    z-index: 0;
    /* margin-left: 1050px; */
    top: -100px;
    right: -40px;
}
/* ------------------------------------------------------- */

.hero{
    max-width: 1500px;
    width:100%;
}

.header-before{
    transform:translateY(-100px) !important;
    opacity: 0;
}

.header{
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
    /* margin-left: 50px; */
    transition: all 1s;
}

.header h1{
    font-family: Garet;
    font-size: var(--h1);
    font-weight: 950;
    width: 100%;
    margin: 0 0;
}

.socials{
    display:flex;
    height:50px;
    gap: 10px;
}

.socials img{
    height:50px;
    width:50px;
}

.polaroid-container{
    display:flex;
    width: 100%;
    justify-content: center;
}

.polaroid{
    background-color: var(--bg);
    border-top: 1px solid var(--accent1);
    border-left: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    border-right: 1px solid var(--accent1);
    width:336px;
    height:390px;
    display:flex;
    flex-direction:column;
    transition: all 0.5s ease-in-out;
    transition: transform 1s ease-in-out, opacity 1.5s ease-in-out, scale 0.3s ease-in-out;
}

.polaroid:hover{
    scale:1.05;
}

.polaroid img{
    margin:18px;

}

.pic{
    width: calc(100% - 36px);
    background-size: cover;
    margin: 18px;
    border-bottom: 1px solid var(--accent1);
    border-right: 1px solid var(--accent);
    border-top: 1px solid var(--accent);
    border-left: 1px solid var(--accent1);
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pbefore:not(.header){
    transform:translateY(   100px) !important;
    opacity: 0;
}

.p1before{
    transform:rotate(-46.5deg) !important;
    opacity: 0;
}

#polaroid1{
    transform:rotate(-6.5deg);
    z-index: 1;
}

.p2before{
    transform:rotate(-36.5deg) !important;
    opacity:0;

}

#polaroid2{
    transform: rotate(3.5deg) translate(0px, -30px);
    z-index: 2;
}

.p3before{
    transform:rotate(36.5deg) !important;
    opacity:0;

}

#polaroid3{
    transform:rotate(-3.5deg);
    z-index: 1;
}

.p4before{
    transform:rotate(52deg) !important;
    opacity:0;

}

#polaroid4{
    transform: rotate(12deg)translate(-20px, -40px);
    z-index: 0;
}

#p1{
    background-image: url(Assets/Images/LTK.png);

}

#p2{
    background-image: url(Assets/Images/YOUTUBE.png);

}

#p3{
    background-image: url(Assets/Images/AMZ.png);
}




.middle-text{
    color: white;
    padding-top: 50px;
}

.middle-text h2{
    font-family: 'Garet1';
    font-weight: normal;
    font-size: var(--middle);
    text-align: center;
    margin: 0;
    line-height: 1;
    text-shadow: rgba(0, 0, 0, 0.325) 0px 2.19999px 9.34996px;
}

.middle-text p{
    font-family: 'Garet';
    font-size: 30px;
    text-align: center;
    margin: 5px 0 !important;
    line-height: 1;
    text-shadow: rgba(0, 0, 0, 0.325) 0px 2.19999px 9.34996px;
}

.test{
    height:500px;
    width:500px;
    border: 3px solid black;
    display: grid;
}

.test p{
    margin:0;
    position: absolute;
    align-self: center;
    justify-self: center;
}

.about-me{
    display:flex;
    margin-top: 80px;
    /* margin: 50px 80px; */
    max-width: 1500px;
    width: 100%;
    align-items: center;
}

.about-me-text{
    display:flex;
    flex-direction: column;
    width: 55%;
    /* transform: translateY(60px); */
}

.about-me-text-container{
    display:flex;
    flex-direction: column;
    width:80%;
    padding-left: 50px;
}

.about-me-img{
    width: 45%;
    margin-right: 50px;
}

.about-me-img img{
    width: 100%;
}

.heading{
    display:flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
    /* padding-left: 50px; */
}

#current-favorites-container{
    display:flex;
    flex-direction:column;
    gap:20px;
    padding-top:80px;
    /* padding-left: 50px; */
    margin: 0 50px;
    max-width: 1500px;
    width: 100%;
}

.current-favorites{
    display:flex;
    gap: 50px;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    align-items: center;
}

.current-favorites section div{
    background-size: contain;
    background-repeat: no-repeat;
    height: var(--thumbnail);
    width: var(--thumbnail);
    position: relative;
    display: grid;
    transition: all 0.5s;
}

.current-favorites section div:hover{
    scale: 1.05;
}

#hair:hover{
    scale:1.25 !important;
}

#skincare{
    background-image: url('Assets/Images/SKINCARE.png');
}

#hair{
    background-image: url('Assets/Images/HAIR.png');
    height: 500px;
    scale: 1.15;
    margin-top: 80px;
    margin-bottom: 40px;
}

#college{
    background-image: url('Assets/Images/COLLEGE.png');
    height: 580px;
}

#makeup{
    background-image: url('Assets/Images/MAKEUP.png');
}

#current-heading{
    margin-left:50px;
}

.polaroid-container-mobile{
    display:none;
    justify-content: center;
    align-content: center;
    gap: 30px;
}

/* media queries */

@media (max-width:1350px) {
    #content{      
        overflow: hidden;
    }    
    :root{
        --thumbnail:496px;
    }
    #hair{
        height:400px;
    }
    #college{
        height:464px;
    }
    #current-favorites-container{
        padding-top:120px;
    }
}

@media(max-width:1300px){
    #note{
        scale:0.7;
        right:-120px;
    }
}

@media(max-width:1250px){
    .polaroid-container{
        scale:0.8;
    }
    #note{
        right:-250px;
        top:-450px;
    }
}

@media(max-width:1100px){
    :root{
        --h1:75px;
        --lj:70px;
        --h2:50px;
        --p:20px;
    }
    .current-favorites{
        flex-direction: column;
    }
    .about-me{
            flex-direction: column;
  
    }
    .about-me-text{
        width:90%;
        margin:0;
        padding:0;
    }
    .about-me-text-container{
        width:100%;
        padding-left:0;  
        padding-bottom:50px;
        
    }
    .about-me-img{
        width:90%;
        margin:0;
    }
    :root{
        --thumbnail:620px;
    }
    #hair{
        height:500px;
    }
    #college{
        height:580px;
    }

}

@media(max-width:1030px){

    .polaroid-container{
        display:none;
    }
    .polaroid-container-mobile{
        display:flex;
        align-items: center;
    }
    #polaroid4{
        transform: rotate(6deg);
    }
    #current-heading{
        flex-direction: column;
        margin-left: 20px;
    }
}

@media(max-width:700px){
    .polaroid{
        width: 258px;
        height: 300px;
    }
    .middle-text{
        scale:0.7;
    }
}

@media(max-width:500px){
    :root{
        --h1:65px;
        --lj: 60px;
        --h2:42px;
        --p:17px;
        --thumbnail:396.8px;
    }
    #hair{
        height:320px;
    }
    #college{
        height:371px;
    }
    .polaroid-container-mobile{
        gap:0;
    }
    .heading{
        flex-direction: column;
    }
}

@media(max-width:400px){

    :root{
        --h1:55px;
        --thumbnail: 330px;
    }
    .middle-text{
        scale:0.55;
    }
    /* .polaroid-container-mobile{
        flex-direction: column;
    } */
    .header{
        padding:20px;
    }
    .socials img{
        height:40px;
        width:40px;
    }
    .polaroid{
        width:185px;
        height:200px;
    }
    .pic{
        width: calc(100% - 20px);
        margin:10px;
        height:150px;
    }
    /* .p2before{
        transform:rotate(-46.5deg) !important;
        opacity: 0;
    }
    
    #polaroid2{
        transform:rotate(-6.5deg);
        z-index: 1;
    }
    
    .p1before{
        transform:rotate(-36.5deg) !important;
        opacity:0;
    
    }
    
    #polaroid1{
        transform: rotate(3.5deg) translate(0px);
        z-index: 2;
    }
     */
    

}

/**/